:root {
    --bg: #fffcf5;
    --text-dark: #2b211a;
    --accent: #2b211a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--text-dark);
}

.social-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.15fr 0.85fr;
    gap: 70px;
    padding: 70px 90px;
    align-items: start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.big-title {
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
     white-space: nowrap;  
    line-height: 1;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
}

.stats {
    width: 480px;
    margin: 70px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-left: 20px;
}

.stat {
    line-height: 1.1;
}

.stat-number {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 2px;
}

.stat-label {
    font-size: 26px;
    font-weight: 600;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 80px;
}


.mockup{
  width: 480px;
  max-height: 260px;
}

.mockup img{
  width: 100%;
  height: auto;
}

.right .mockup:first-child{
    margin-left: 80px;
}
.right .mockup:last-child {
  width: 750px;
}