.about {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.about-content {
  flex: 1;
}

.about-content h1 {
  font-size: 64px;
  letter-spacing: 8px;
  margin-bottom: 48px;
}

.about-content p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 32px;
  text-align: justify;
}


.about-image {
  flex: 0 0 360px;
}

.about-image img {
  width: 100%;
  display: block;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.interests-layout {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding: 60px 0;
}

.images-wrapper {
    position: relative;
    flex: 0 0 36%;
    min-width: 320px;
    height: 560px;
}

.images-wrapper img {
    position: absolute;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.img1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;     
  height: 64%;    
  z-index: 2;
  margin-top: 50px;
  margin-left: 40px;
}

.img2 {
  top: calc(90% - 105px);  
  left: 48%;
  transform: translateX(-50%);
  width: 54%;     
  height: 40%;    
  z-index: 1;
}

.text {
    flex: 1;
    padding-top: 10px;
}

.text h1 {
    font-size: 60px;
    line-height: 1;
    margin: 0 0 30px;
    letter-spacing: -1px;
    margin-left: 260px;
}

.text h2 {
    font-size: 22px;
    margin: 26px 0 0px;
    font-weight: 700;
}

.text p {
    font-size: 16px;
    line-height: 1.75;

    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;

    max-width: 95ch;
    margin: 0;
}