:root {
    --bg: #fffcf5;
    --text-dark: #2b211a;
    --accent: #2b211a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--text-dark);
}

.ugc {
    max-width: 1200px;
    margin: 0 auto;
    padding: 26px 22px 48px;
}

.ugc__title {
    margin-top: 46px;
    text-align: center;
    font-weight: 700;
    font-size: clamp(32px, 5vw, 56px);
    letter-spacing: -0.02em;
    line-height: 1.1;
}

.ugc__content {
    max-width: 100%;
    margin: 30px 0 0;
    margin-top: -30px;
    
}

.ugc__block {
    margin-top: 30px;
}

.ugc__heading {
    font-weight: 700;
    font-size: clamp(18px, 2.6vw, 30px);
    letter-spacing: -0.02em;
    line-height: 1.1;
    margin-bottom: 3px;
}

.ugc__text {
    font-weight: 400;
    font-size: clamp(14px, 1.4vw, 20px);
    max-width: none;
    line-height: 1.2;
}